In [1]:
import pandas as pd
import numpy as np
import pickle

# Preprocess Steps

In [2]:
#Set parameters to see all data
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [3]:
# Load Train dataset
test_1 = pd.read_csv("../data/SurusTesti1.csv", delimiter = ";")
test_2 = pd.read_csv("../data/SurusTesti2.csv", delimiter = ";")

In [4]:
# Load cycle_df dataset
cycle_df = pd.read_csv("../data/cycle_df.csv")
cycle_df.head(5).append(cycle_df.tail(5))

      TotalTime                        Phase  PhaseTime        Vel       Acc  5_sec_Vel_mean  5_sec_Acc_mean  10_sec_Vel_mean  10_sec_Acc_mean  30_sec_Vel_mean  30_sec_Acc_mean  60_sec_Vel_mean  60_sec_Acc_mean  30_sec_Acc_min  30_sec_Acc_max  60_sec_Acc_min  60_sec_Acc_max  60_sec_Vel_iddle_count
0           236  artemis_motor130_Motorway 1         60  30.333333  0.694444        18.68879         0.13147         18.68879          0.13147         18.68879          0.13147         18.68879          0.13147        -2.41667         1.86111        -2.41667         1.86111                     0.0
1           237  artemis_motor130_Motorway 1         61  31.027778  0.416667        18.74086         0.13268         18.74086          0.13268         18.74086          0.13268         18.74086          0.13268        -2.41667         1.86111        -2.41667         1.86111                     0.0
2           238  artemis_motor130_Motorway 1         62  31.444444  0.666667        18.79423         0.13492         18.79423          0.13492         18.79423          0.13492         18.79423          0.13492        -2.41667         1.86111        -2.41667         1.86111                     0.0
3           239  artemis_motor130_Motorway 1         63  32.111111  0.555556        18.84995         0.13668         18.84995          0.13668         18.84995          0.13668         18.84995          0.13668        -2.41667         1.86111        -2.41667         1.86111                     0.0
4           240  artemis_motor130_Motorway 1         64  32.666667  0.694444        18.90752         0.13900         18.90752          0.13900         18.90752          0.13900         18.90752          0.13900        -2.41667         1.86111        -2.41667         1.86111                     0.0
8075       8881    wltp_class3b_Extra-high 3        319   0.000000  0.000000        12.94729         0.00000         12.94729          0.00000         12.94729          0.00000         12.94729          0.00000        -1.50000         1.66667        -1.50000         1.66667                     2.0
8076       8882    wltp_class3b_Extra-high 3        320   0.000000  0.000000        12.94009         0.00000         12.94009          0.00000         12.94009          0.00000         12.94009          0.00000        -1.50000         1.66667        -1.50000         1.66667                     3.0
8077       8883    wltp_class3b_Extra-high 3        321   0.000000  0.000000        12.93289         0.00000         12.93289          0.00000         12.93289          0.00000         12.93289          0.00000        -1.50000         1.66667        -1.50000         1.66667                     4.0
8078       8884    wltp_class3b_Extra-high 3        322   0.000000  0.000000        12.92571         0.00000         12.92571          0.00000         12.92571          0.00000         12.92571          0.00000        -1.50000         1.66667        -1.50000         1.66667                     5.0
8079       8885    wltp_class3b_Extra-high 3        323   0.000000  0.000000        12.91853         0.00000         12.91853          0.00000         12.91853          0.00000         12.91853          0.00000        -1.50000         1.66667        -1.50000         1.66667                     6.0

In [5]:
test_1.head(5).append(test_1.tail(5))

      TotalTime   Phase  PhaseTime       Vel       Acc
0             1  Drive1          1  0.086806  0.000000
1             2  Drive1          2  0.086806 -0.086806
2             3  Drive1          3  0.000000  0.000000
3             4  Drive1          4  0.000000  0.000000
4             5  Drive1          5  0.000000  0.000000
1100       1101  Drive1       1101  0.000000  0.000000
1101       1102  Drive1       1102  0.000000  0.000000
1102       1103  Drive1       1103  0.000000  0.000000
1103       1104  Drive1       1104  0.000000  0.000000
1104       1105  Drive1       1105  0.000000  0.000000

In [6]:
test_2.head(5).append(test_2.tail(5))

      TotalTime   Phase  PhaseTime  Vel  Acc
0             1  Drive2          1  0.0  0.0
1             2  Drive2          2  0.0  0.0
2             3  Drive2          3  0.0  0.0
3             4  Drive2          4  0.0  0.0
4             5  Drive2          5  0.0  0.0
1822       1823  Drive2       1823  0.0  0.0
1823       1824  Drive2       1824  0.0  0.0
1824       1825  Drive2       1825  0.0  0.0
1825       1826  Drive2       1826  0.0  0.0
1826       1827  Drive2       1827  0.0  0.0

In [7]:
test_1 = test_1.drop({'Phase', 'TotalTime'}, axis=1)

In [8]:
test_2 = test_2.drop({'Phase', 'TotalTime'}, axis=1)

In [9]:
period = [5, 10, 30, 60]
process = ['Vel', 'Acc']

In [10]:
for per in period:
    for pro in process:
        col = str(per) + "_sec_" + str(pro)+ "_mean"
        test_1[col] = test_1[pro].expanding(min_periods=per).mean().round(5)
        test_2[col] = test_2[pro].expanding(min_periods=per).mean().round(5)
        cycle_df[col] = cycle_df[pro].expanding(min_periods=per).mean().round(5)

In [11]:
period_2 = [30, 60]
process_2 = ['Acc']
for per in period_2:
    for pro in process_2:
        col_min = str(per) + "_sec_" + str(pro)+ "_min"
        col_max = str(per) + "_sec_" + str(pro)+ "_max"

        test_1[col_min] = test_1[process_2].expanding(min_periods=per).min().round(5)
        test_1[col_max] = test_1[process_2].expanding(min_periods=per).max().round(5)

        test_2[col_min] = test_2[process_2].expanding(min_periods=per).min().round(5)
        test_2[col_max] = test_2[process_2].expanding(min_periods=per).max().round(5)
        
        cycle_df[col_min] = cycle_df[process_2].expanding(min_periods=per).min().round(5)
        cycle_df[col_max] = cycle_df[process_2].expanding(min_periods=per).max().round(5)

In [12]:
test_2.head()

   PhaseTime  Vel  Acc  5_sec_Vel_mean  5_sec_Acc_mean  10_sec_Vel_mean  10_sec_Acc_mean  30_sec_Vel_mean  30_sec_Acc_mean  60_sec_Vel_mean  60_sec_Acc_mean  30_sec_Acc_min  30_sec_Acc_max  60_sec_Acc_min  60_sec_Acc_max
0          1  0.0  0.0             NaN             NaN              NaN              NaN              NaN              NaN              NaN              NaN             NaN             NaN             NaN             NaN
1          2  0.0  0.0             NaN             NaN              NaN              NaN              NaN              NaN              NaN              NaN             NaN             NaN             NaN             NaN
2          3  0.0  0.0             NaN             NaN              NaN              NaN              NaN              NaN              NaN              NaN             NaN             NaN             NaN             NaN
3          4  0.0  0.0             NaN             NaN              NaN              NaN              NaN              NaN              NaN              NaN             NaN             NaN             NaN             NaN
4          5  0.0  0.0             0.0             0.0              NaN              NaN              NaN              NaN              NaN              NaN             NaN             NaN             NaN             NaN

In [13]:
print("*****test_1******")
print(test_1['Vel'].isin([0]).expanding(min_periods=60).sum().max())
print(test_1['Vel'].isin([0]).expanding(min_periods=60).sum().min())

print("*****test_2******")
print(test_2['Vel'].isin([0]).expanding(min_periods=60).sum().max())
print(test_2['Vel'].isin([0]).expanding(min_periods=60).sum().min())

print("*****cycle_df******")
print(cycle_df['Vel'].isin([0]).expanding(min_periods=60).sum().max())
print(cycle_df['Vel'].isin([0]).expanding(min_periods=60).sum().min())

*****test_1******
328.0
38.0
*****test_2******
253.0
18.0
*****cycle_df******
997.0
0.0

In [14]:
# dummy function to count zeros
count_func = lambda x: (x==0).sum()

summed_1 = test_1['Vel'].rolling(50).apply(count_func)
summed_2 = test_2['Vel'].rolling(50).apply(count_func)
summed_cycle = cycle_df['Vel'].rolling(50).apply(count_func)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

In [15]:
period_2 = 60
process_2 = 'Vel'

# dummy function to count zeros
count_func = lambda x: (x==0).sum()

iddle_count = str(period_2) + "_sec_" + str(process_2)+ "_iddle_count"
print("******* " + iddle_count + " *******")

test_1[iddle_count] = 0
test_1[iddle_count] = test_1['Vel'].rolling(60).apply(count_func)

test_2[iddle_count] = 0
test_2[iddle_count] = test_2['Vel'].rolling(60).apply(count_func)

cycle_df[iddle_count] = 0
cycle_df[iddle_count] = cycle_df['Vel'].rolling(60).apply(count_func)

******* 60_sec_Vel_iddle_count *******

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:11: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  # This is added back by InteractiveShellApp.init_path()
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:17: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

In [16]:
test_1 = test_1[59:]

test_2 = test_2[59:]

cycle_df = cycle_df[59:]

# Prediction Steps

In [17]:
invertion_phase_mapping = {
    "10" : "artemis_motor130_Motorway 1",
    "20" : "artemis_motor130_Motorway 2",
    "30" : "artemis_motor130_Motorway 3",
    "40" : "artemis_motor130_Motorway 4",
    "60" : "artemis_road_Road 1",
    "70" : "artemis_road_Road 2",
    "80" : "artemis_road_Road 3",
    "90" : "artemis_road_Road 4",
    "100" : "artemis_road_Road 5",
    "120" : "artemis_urban_Engine Start",
    "130" : "artemis_urban_Urban 1",
    "140" : "artemis_urban_Urban 2",
    "150" : "artemis_urban_Urban 3",
    "160" : "artemis_urban_Urban 4",
    "170" : "artemis_urban_Urban 5",
    "190" : "ftp72_Phase 1",
    "200" : "ftp72_Phase 2",
    "220" : "ftp_us06_Phase 1",
    "240" : "hwfet_Phase 1",
    "260" : "nycc_Phase 1",
    "280" : "rts95_Phase 1",
    "300" : "wltp_class3b_Medium 3-2",
    "310" : "wltp_class3b_Low 3",
    "320" : "wltp_class3b_High 3-2",
    "330" : "wltp_class3b_Extra-high 3"
}

In [18]:
phase_mapping = {
    "artemis_motor130_Motorway 1" : "10",
    "artemis_motor130_Motorway 2" : "20",
    "artemis_motor130_Motorway 3" : "30",
    "artemis_motor130_Motorway 4" : "40",
    "artemis_road_Road 1" : "60",
    "artemis_road_Road 2" : "70",
    "artemis_road_Road 3" : "80",
    "artemis_road_Road 4" : "90",
    "artemis_road_Road 5" : "100",
    "artemis_urban_Engine Start" : "120",
    "artemis_urban_Urban 1" : "130",
    "artemis_urban_Urban 2" : "140",
    "artemis_urban_Urban 3" : "150",
    "artemis_urban_Urban 4" : "160",
    "artemis_urban_Urban 5" : "170",
    "ftp72_Phase 1" : "190",
    "ftp72_Phase 2" : "200",
    "ftp_us06_Phase 1" : "220",
    "hwfet_Phase 1" : "240",
    "nycc_Phase 1" : "260",
    "rts95_Phase 1" : "280",
    "wltp_class3b_Medium 3-2" : "300",
    "wltp_class3b_Low 3" : "310",
    "wltp_class3b_High 3-2" : "320",
    "wltp_class3b_Extra-high 3" : "330"
}

In [19]:
cycle_df.head()

    TotalTime                        Phase  PhaseTime        Vel       Acc  5_sec_Vel_mean  5_sec_Acc_mean  10_sec_Vel_mean  10_sec_Acc_mean  30_sec_Vel_mean  30_sec_Acc_mean  60_sec_Vel_mean  60_sec_Acc_mean  30_sec_Acc_min  30_sec_Acc_max  60_sec_Acc_min  60_sec_Acc_max  60_sec_Vel_iddle_count
59        295  artemis_motor130_Motorway 1        119  36.416667 -0.138889        34.40972         0.09907         34.40972          0.09907         34.40972          0.09907         34.40972          0.09907        -0.80556         0.69444        -0.80556         0.69444                     0.0
60        296  artemis_motor130_Motorway 1        120  36.277778  0.000000        34.44035         0.09745         34.44035          0.09745         34.44035          0.09745         34.44035          0.09745        -0.80556         0.69444        -0.80556         0.69444                     0.0
61        297  artemis_motor130_Motorway 1        121  36.277778 -0.138889        34.46998         0.09364         34.46998          0.09364         34.46998          0.09364         34.46998          0.09364        -0.80556         0.69444        -0.80556         0.69444                     0.0
62        298  artemis_motor130_Motorway 1        122  36.138889  0.000000        34.49647         0.09215         34.49647          0.09215         34.49647          0.09215         34.49647          0.09215        -0.80556         0.69444        -0.80556         0.69444                     0.0
63        299  artemis_motor130_Motorway 1        123  36.138889 -0.138889        34.52214         0.08854         34.52214          0.08854         34.52214          0.08854         34.52214          0.08854        -0.80556         0.69444        -0.80556         0.69444                     0.0

In [20]:
cycle_df.shape

(8021, 18)

In [21]:
def convert_phase(df, column_name, phase_dict):
    df[column_name] = df[column_name].replace(phase_dict)
    return df

In [22]:
cycle_df = convert_phase(cycle_df, "Phase", phase_mapping)

In [23]:
cycle_df = cycle_df.drop({'TotalTime'}, axis=1)

In [24]:
cycle_df.head()

   Phase  PhaseTime        Vel       Acc  5_sec_Vel_mean  5_sec_Acc_mean  10_sec_Vel_mean  10_sec_Acc_mean  30_sec_Vel_mean  30_sec_Acc_mean  60_sec_Vel_mean  60_sec_Acc_mean  30_sec_Acc_min  30_sec_Acc_max  60_sec_Acc_min  60_sec_Acc_max  60_sec_Vel_iddle_count
59    10        119  36.416667 -0.138889        34.40972         0.09907         34.40972          0.09907         34.40972          0.09907         34.40972          0.09907        -0.80556         0.69444        -0.80556         0.69444                     0.0
60    10        120  36.277778  0.000000        34.44035         0.09745         34.44035          0.09745         34.44035          0.09745         34.44035          0.09745        -0.80556         0.69444        -0.80556         0.69444                     0.0
61    10        121  36.277778 -0.138889        34.46998         0.09364         34.46998          0.09364         34.46998          0.09364         34.46998          0.09364        -0.80556         0.69444        -0.80556         0.69444                     0.0
62    10        122  36.138889  0.000000        34.49647         0.09215         34.49647          0.09215         34.49647          0.09215         34.49647          0.09215        -0.80556         0.69444        -0.80556         0.69444                     0.0
63    10        123  36.138889 -0.138889        34.52214         0.08854         34.52214          0.08854         34.52214          0.08854         34.52214          0.08854        -0.80556         0.69444        -0.80556         0.69444                     0.0

In [25]:
cycle_df.iloc[:,0]

59       10
60       10
61       10
62       10
63       10
       ...
8075    330
8076    330
8077    330
8078    330
8079    330
Name: Phase, Length: 8021, dtype: object

In [26]:
cycle_df.iloc[:,2:17]

            Vel       Acc  5_sec_Vel_mean  5_sec_Acc_mean  10_sec_Vel_mean  10_sec_Acc_mean  30_sec_Vel_mean  30_sec_Acc_mean  60_sec_Vel_mean  60_sec_Acc_mean  30_sec_Acc_min  30_sec_Acc_max  60_sec_Acc_min  60_sec_Acc_max  60_sec_Vel_iddle_count
59    36.416667 -0.138889        34.40972         0.09907         34.40972          0.09907         34.40972          0.09907         34.40972          0.09907        -0.80556         0.69444        -0.80556         0.69444                     0.0
60    36.277778  0.000000        34.44035         0.09745         34.44035          0.09745         34.44035          0.09745         34.44035          0.09745        -0.80556         0.69444        -0.80556         0.69444                     0.0
61    36.277778 -0.138889        34.46998         0.09364         34.46998          0.09364         34.46998          0.09364         34.46998          0.09364        -0.80556         0.69444        -0.80556         0.69444                     0.0
62    36.138889  0.000000        34.49647         0.09215         34.49647          0.09215         34.49647          0.09215         34.49647          0.09215        -0.80556         0.69444        -0.80556         0.69444                     0.0
63    36.138889 -0.138889        34.52214         0.08854         34.52214          0.08854         34.52214          0.08854         34.52214          0.08854        -0.80556         0.69444        -0.80556         0.69444                     0.0
...         ...       ...             ...             ...              ...              ...              ...              ...              ...              ...             ...             ...             ...             ...                     ...
8075   0.000000  0.000000        14.57652        -0.00576         14.57652         -0.00576         14.57652         -0.00576         14.57652         -0.00576        -3.61111         3.08458        -3.61111         3.08458                     2.0
8076   0.000000  0.000000        14.57471        -0.00576         14.57471         -0.00576         14.57471         -0.00576         14.57471         -0.00576        -3.61111         3.08458        -3.61111         3.08458                     3.0
8077   0.000000  0.000000        14.57291        -0.00576         14.57291         -0.00576         14.57291         -0.00576         14.57291         -0.00576        -3.61111         3.08458        -3.61111         3.08458                     4.0
8078   0.000000  0.000000        14.57110        -0.00576         14.57110         -0.00576         14.57110         -0.00576         14.57110         -0.00576        -3.61111         3.08458        -3.61111         3.08458                     5.0
8079   0.000000  0.000000        14.56930        -0.00576         14.56930         -0.00576         14.56930         -0.00576         14.56930         -0.00576        -3.61111         3.08458        -3.61111         3.08458                     6.0

[8021 rows x 15 columns]

In [28]:
X = cycle_df.iloc[:,2:17]
y = cycle_df.iloc[:,0]

In [29]:
X.columns

Index(['Vel', 'Acc', '5_sec_Vel_mean', '5_sec_Acc_mean', '10_sec_Vel_mean', '10_sec_Acc_mean', '30_sec_Vel_mean', '30_sec_Acc_mean', '60_sec_Vel_mean', '60_sec_Acc_mean', '30_sec_Acc_min', '30_sec_Acc_max', '60_sec_Acc_min', '60_sec_Acc_max', '60_sec_Vel_iddle_count'], dtype='object')

In [30]:
test_1.columns

Index(['PhaseTime', 'Vel', 'Acc', '5_sec_Vel_mean', '5_sec_Acc_mean', '10_sec_Vel_mean', '10_sec_Acc_mean', '30_sec_Vel_mean', '30_sec_Acc_mean', '60_sec_Vel_mean', '60_sec_Acc_mean', '30_sec_Acc_min', '30_sec_Acc_max', '60_sec_Acc_min', '60_sec_Acc_max', '60_sec_Vel_iddle_count'], dtype='object')

In [31]:
test_2.columns

Index(['PhaseTime', 'Vel', 'Acc', '5_sec_Vel_mean', '5_sec_Acc_mean', '10_sec_Vel_mean', '10_sec_Acc_mean', '30_sec_Vel_mean', '30_sec_Acc_mean', '60_sec_Vel_mean', '60_sec_Acc_mean', '30_sec_Acc_min', '30_sec_Acc_max', '60_sec_Acc_min', '60_sec_Acc_max', '60_sec_Vel_iddle_count'], dtype='object')

In [32]:
test_1 = test_1.drop({'PhaseTime'}, axis=1)
test_2 = test_2.drop({'PhaseTime'}, axis=1)

In [33]:
# load the model from disk
filename = '../models/KNC_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))

In [35]:
best_KNC = loaded_model.fit(X, y)
phase_predictor_1 = best_KNC.predict(test_1)
phase_predictor_2 = best_KNC.predict(test_2)

print(phase_predictor_1)

['320' '320' '320' ... '200' '200' '200']

In [36]:
print(phase_predictor_2)

['200' '200' '200' ... '300' '300' '300']

In [37]:
test_1.head()

          Vel       Acc  5_sec_Vel_mean  5_sec_Acc_mean  10_sec_Vel_mean  10_sec_Acc_mean  30_sec_Vel_mean  30_sec_Acc_mean  60_sec_Vel_mean  60_sec_Acc_mean  30_sec_Acc_min  30_sec_Acc_max  60_sec_Acc_min  60_sec_Acc_max  60_sec_Vel_iddle_count
59  13.107639  0.065312         3.55149         0.21810          3.55149          0.21810          3.55149          0.21810          3.55149          0.21810        -0.19536         2.83086        -0.19536         2.83086                    38.0
60  13.172951 -0.113187         3.70922         0.21267          3.70922          0.21267          3.70922          0.21267          3.70922          0.21267        -0.19536         2.83086        -0.19536         2.83086                    38.0
61  13.059764 -0.073653         3.86004         0.20805          3.86004          0.20805          3.86004          0.20805          3.86004          0.20805        -0.19536         2.83086        -0.19536         2.83086                    38.0
62  12.986111 -0.100919         4.00490         0.20315          4.00490          0.20315          4.00490          0.20315          4.00490          0.20315        -0.19536         2.83086        -0.19536         2.83086                    37.0
63  12.885192 -0.220708         4.14365         0.19653          4.14365          0.19653          4.14365          0.19653          4.14365          0.19653        -0.22071         2.83086        -0.22071         2.83086                    36.0

In [38]:
test_1['phase_prediction'] = phase_predictor_1
test_2['phase_prediction'] = phase_predictor_2

In [39]:
test_1 = convert_phase(test_1, "phase_prediction", invertion_phase_mapping)
test_2 = convert_phase(test_2, "phase_prediction", invertion_phase_mapping)

In [42]:
#Export dataframe as a csv
test_1.to_csv("../data/test_1_result.csv", index=0)
test_2.to_csv("../data/test_2_result.csv", index=0)